# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Wed Aug 21 17:39:18 EDT 2013
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=3000
