#MLProperties: name (type:default) min:max -- information
#MLProp : axeIds (java.lang.String:258, 271, 275, 279, 286) -- List of item ids that are axes
#
#Thu Aug 22 15:34:30 EDT 2013
axeIds=258, 271, 275, 279, 286
